:root {
    --bg: #303030;
    --color: hotpink;
    --main: white;
}

* {
    font-family: 'B612 Mono', monospace;
    background-color: var(--bg);
    color: var(--main);
}

*::selection {
    background-color: #00FFCC;
    color: var(--bg);
}

header {
    text-align: center;
    color: var(--main);
}

header h1 {
    color: var(--color);
    font-family: 'Courier New', Courier, monospace;
}

.snippets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.card {
    padding: 20px;
    border-width: 2px;
    border-color: var(--main);
    flex:0 0 300px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    margin: 20px;
    border: 5px dashed white;
}

.card:hover {
    box-shadow: 0 20px 20px purple;
}

section h1 {
    border-width: 3px;
    color: var(--color);
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid white;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    background-color:var(--color);
    background-image: linear-gradient(var(--color), purple);
    color: var(--main);
    white-space: pre-wrap;
    border-radius: 4px;
}

